
/***  Font  ***/

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;0,900;1,800&display=swap');



/***  Common  ***/

.App {
  width: 100%;
  height: 100%;
  min-width: 320px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}

.subBox {
  min-height: 450px;
  padding: 0 0 40px 0;
}

.subTitle {
  font-weight: bold;
  font-size: 36px;
  text-align: left;
  padding: 50px 0 40px 0;
}



/***  Header  ***/

.headerBox {
  width: 100%;
  height: 250px;
  background: url("./img/header.jpg") no-repeat 50% 0;
  background-size: cover;
  transition: ease-in .2s;
}

@media screen and (max-width : 600px) {
  .headerBox {
    height: 180px;
  }
}


/***  About Me  ***/

.aboutMeBox {
  text-align: left!important;
}

.aboutMeDetail {
  margin-bottom: 20px;
}

.aboutMeDetail h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.aboutMeDetail ul {
  margin: 10px 0;
}

.aboutMeDetail ul li {
  background: url("./img/star.png") no-repeat 5px 7px;
  background-size: 8px 8px; 
  padding: 0 0 5px 20px;
}


/***  Nav ***/


.navWrap {
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.navWrap .navBox {
  width: 100%;
  background-color: #151634;
}

.navWrap .navigation {
  width: 960px;
  margin: 0 auto;
  height: 48px;
  display: flex;
  justify-content: space-evenly;
}

@media screen and ( max-width: 960px) {
  .navWrap .navigation {
    width: 100%;
  }
}

.navWrap .navigation li {
  width: 25%;
  color: white;
}

.navWrap .navigation li button {
  width: 100%;
  height: 100%;
}

.navWrap .navigation li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 6px 0 0 0;
}

.MuiButton-text {
  padding: 0!important;
}


/***  Work ***/

.workItem {
  width: 100%;
  height: 50px; 
  margin-bottom: 10px;
}

.workBox .cardBox {
  box-sizing: border-box;
  padding: 0 10px 10px;
  min-height: 190px;
  position: relative;
  background-color: #fcfcfc;
}


.workBox .typo {
  font-family: 'Montserrat', sans-serif!important;
  line-height: 1.4;
}

.workBox .cardTitle {
  padding-top: 18px;
  background: url(./img/star.png) no-repeat 50% 0%;
  background-size: 12px 12px;
}

@media screen and ( max-width: 860px) {
  .workBox .cardTitle {
    font-size: 17px!important;
  }
}

.workBox .cardDesc {
  width: 100%;
  min-height: 60px;
  text-align: left;
  padding-top: 10px;
  font-size: 14px;
}

.workBox .linkBtn {
  width: 100%;
  text-align: center;
}

.workBox .linkBtn a {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
}


.workItem img {
  max-width: 100%;
} 

.workItemBox {
  padding: 50px 0 10px 0;
  text-align: left;
}

@media screen and (max-width : 600px) {
  .workItemBox {
    padding: 30px 0 10px 0;
  }
}


.workItemBox h3 {
  font-size: 30px;
  font-weight: bold;
}

.workItemBox .desc {
  font-size: 18px;
}

.workItemBox img {
  max-width: 100%;
}

.workItemBox .link a {
  display: inline-block;
  padding: 8px 0 0 0;
  font-size: 13px!important;
  color: #999;
}

.workItemBox .skills {
  margin: 15px 0 30px 0;
}

.workItemBox .eachSkill {
  display: inline-block;
  padding: 5px 12px;
  border: 1px solid #dbdada;
  border-radius: 25px;
  font-size: 13px;
  margin: 0 6px 6px 0;
}

.workItemBox .myRole h3 {
  font-size: 17px;
  color: #555;
}

.workItemBox .myRole ul {
  padding: 12px 0 0 0;
}

.workItemBox .myRole ul li {
  background: url("./img/star.png") no-repeat 5px 6px;
  background-size: 8px 8px; 
  padding: 0 0 0 20px;
}

.workItemBox .github {
  text-align: center;
  padding: 30px 0 30px;
}

.workItemBox .github a {
  display: inline-block!important;
  padding: 10px 40px; 
  border-radius: 25px;
  background-color: #BE86FF!important;
  color: white!important;
}

/***  Contact ***/


.contactBtn {
  width: 100%;
  height: 58px;
  min-height: 0!important;
  display: inline-block;
  min-width: 0;
  border-radius: 30px!important;
  margin-bottom: 15px!important;
  background-color: #eee!important;
  font-size: 15px!important;
}

.contactBtn:hover {
  background-color: #BE86FF!important;
}

.btnBg {
  display: inline-block;
  width: 100%;
  height: 58px;
  line-height: 58px;
  font-size: 15px;
  background-color: #BE86FF!important;
  border-radius: 30px!important;
  margin-bottom: 10px;
  font-weight: bolder;
}

.btnBg:hover {
  color: #FEF714!important;
}

.btnBg span {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url("./img/star.png") 2% 48% no-repeat, url("./img/star.png") 98% 48% no-repeat!important; 
  background-size: 14px 14px!important;
}

.btnBg:hover span {
  background: url("./img/star_hover.png") 2% 48% no-repeat, url("./img/star_hover.png") 98% 48% no-repeat!important; 
  background-size: 14px 14px!important;
}




/***  Footer ***/

.footerBox {
  width: 100%;
  padding: 25px 0;
  background-color: #f1f1f1;
  font-size: 12px;
  color: #888;
}
