
/***  Font  ***/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;0,900;1,800&display=swap');



/***  Common  ***/

.App {
  width: 100%;
  height: 100%;
  min-width: 320px;
  text-align: center;
  font-family: 'Montserrat', sans-serif!important;
  line-height: 1.4!important;
}

.MuiTypography-h6, .MuiTypography-body1 {
  font-family: 'Montserrat', sans-serif!important;
  line-height: 1.4!important;
}

.subBox {
  min-height: 450px;
  padding: 0 0 40px 0;
}

.subTitle {
  font-weight: bold;
  font-size: 36px;
  text-align: left;
  padding: 50px 0 40px 0;
}



/***  Header  ***/

.headerBox {
  width: 100%;
  height: 200px;
  background:#02007B url("./img/headerBG.jpg") no-repeat 50% 0;
  background-size: auto 100%;
  transition: ease-in .2s;
  position: relative;
}

.headerBox .starIcon {
  position: absolute;
}

.headerBox .me {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 100px;
  transform: translate(-50%, 0);
  animation: 2s linear meHeader;
}

@keyframes meHeader {
  0%  { top: -100px; }
  70% { top: 30px; }
  80% { top: 20px; }
  90% { top: 30px; }
  95% { top: 25px; }
  100% { top: 30px; }
}


.headerBox .icon1 {
  top: 20%;
  left: 10%;
  width: 20px;
  height: auto;
  animation: star1 1s infinite linear alternate;
}

@keyframes star1 {
  from  { width: 20px; }
  to { width: 15px; }
}

.headerBox .icon2 {
  bottom: 20%;
  left: 20%;
  width: 15px;
  transform: rotate(10deg);
}

.headerBox .icon3 {
  top: 10%;
  right: 10%;
  width: 20px;
  transform: rotate(-20deg);
}

.headerBox .icon4 {
  bottom: 35%;
  right: 25%;
  width: 12px;
  transform: rotate(70deg);
}

.headerBox .icon5 {
  top: 15%;
  right: 6%;
  width: 12px;
}

.headerBox .icon6 {
  bottom: 4%;
  right: 4%;
  width: 10px;
  transform: rotate(20deg);
}

.headerBox .icon7 {
  bottom: 10%;
  left: 3%;
  width: 10px;
}

.headerBox .icon8 {
  bottom: 35%;
  right: 10%;
  width: 50px;
  animation: ufo 4s infinite linear alternate;
}

@keyframes ufo {
  0%  {bottom: 35%; right: 10%; }
  25%  {bottom: 50%; right: 5%; transform: rotate(50deg); }
  50%  {bottom: 50%; right: 15%; }
  100%  {bottom: 35%; right: 10%; }
}

@media screen and (max-width : 600px) {
  .headerBox {
    height: 180px;
  }
  .headerBox .icon2 {
    display: none;
  }
  .headerBox .icon3 {
    display: none;
  }
  .headerBox .icon5 {
    display: none;
  }
  .headerBox .icon6 {
    display: none;
  }
  .headerBox .icon8 {
    width: 30px;
  }
}


/***  About Me  ***/

.aboutMeBox {
  text-align: left!important;
}

.aboutMeDetail {
  margin-bottom: 20px;
}

.aboutMeDetail h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.aboutMeDetail ul {
  margin: 10px 0;
}

.aboutMeDetail ul li {
  background: url("./img/star.png") no-repeat 5px 7px;
  background-size: 8px 8px; 
  padding: 0 0 5px 20px;
}


/***  Nav ***/


.navWrap {
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.navWrap .navBox {
  width: 100%;
  background-color: #02016A;
}

.navWrap .navigation {
  width: 960px;
  margin: 0 auto;
  height: 48px;
  display: flex;
  justify-content: space-evenly;
}

@media screen and ( max-width: 960px) {
  .navWrap .navigation {
    width: 100%;
  }
}

.navWrap .navigation li {
  width: 33.33%;
  color: white;
}

.navWrap .navigation li button {
  width: 100%;
  height: 100%;
}

.navWrap .navigation li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 6px 0 0 0;
}

.MuiButton-text {
  padding: 0!important;
}


/***  Work ***/

.workItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.workItem .workItemGrid {
  box-sizing: border-box;
  margin: 0 10px 10px 0;
}

.workBox .cardBox {
  box-sizing: border-box;
  padding: 25px 18px 55px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f1f1;
}

.workBox .cardTitle {
  padding-top: 18px;
  background: url(./img/star.png) no-repeat 50% 0%;
  background-size: 12px 12px;
}

.workBox .cardTitle_p {
  padding-top: 18px;
  background: url(./img/star_pink.png) no-repeat 50% 0%;
  background-size: 12px 12px;
}

.workBox .cardDesc {
  width: 100%;
  text-align: left;
  padding-top: 10px;
  font-size: 14px;
}

.workBox a {
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -55px;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
}

.workBox .group {
  text-align: left;
  font-size: 13px;
  color: #777;
  padding: 10px 0 0 0;
}

.workBox .group span {
  display: inline-block;
  background: url(./img/star.png) no-repeat 0 4px;
  background-size: 10px 10px;
  padding: 0 15px 10px 10px;
  text-indent: 4px;
}

.workBox .group span.pink {
  background: url(./img/star_pink.png) no-repeat 0 4px;
  background-size: 10px 10px;
}



@media screen and (max-width: 700px) {
  .workItem {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .workItem {
    grid-template-columns: 1fr;
  }
  .workItem .workItemGrid {
    margin: 0 0 10px 0;
  }
}


.workItemBox {
  padding: 50px 0 10px 0;
  text-align: left;
}

.workItemBox h3 {
  font-size: 30px;
  font-weight: bold;
}

.workItemBox .desc {
  font-size: 18px;
}

.workItemBox img {
  max-width: 100%;
}

.workItemBox .link a {
  display: inline-block;
  padding: 8px 0 0 0;
  font-size: 13px!important;
  color: #999;
}

.workItemBox .skills {
  margin: 15px 0 30px 0;
}

.workItemBox .eachSkill {
  display: inline-block;
  padding: 5px 12px;
  border: 1px solid #dbdada;
  border-radius: 25px;
  font-size: 13px;
  margin: 0 6px 6px 0;
}

.workItemBox .myRole h3 {
  font-size: 17px;
  color: #555;
}

.workItemBox .myRole ul {
  padding: 12px 0 0 0;
}

.workItemBox .myRole ul li {
  background: url("./img/star.png") no-repeat 5px 6px;
  background-size: 8px 8px; 
  padding: 0 0 3px 20px;
}


.btnWrapper {
  text-align: center;
  padding: 30px 0 30px;
}

.btnWrapper .btnP {
  border-radius: 25px;
  background-color: #BE86FF!important;
  color: white!important;
  padding: 10px 25px;
}


@media screen and (max-width : 600px) {
  .workItemBox {
    padding: 30px 0 10px 0;
  }
}

/***  Contact ***/


.btnBg {
  display: inline-block;
  width: 100%;
  height: 58px;
  line-height: 58px;
  font-size: 15px;
  background-color: #fcfcfc!important;
  border-radius: 30px!important;
  margin-bottom: 10px;
  font-weight: bolder;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f1f1;
}

.btnBg:hover {
  color: #FEF714!important;
  background-color: #BE86FF!important;
}

.btnBg span {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url("./img/star.png") 2% 48% no-repeat, url("./img/star.png") 98% 48% no-repeat!important; 
  background-size: 14px 14px!important;
}

.btnBg:hover span {
  background: url("./img/star_hover.png") 2% 48% no-repeat, url("./img/star_hover.png") 98% 48% no-repeat!important; 
  background-size: 14px 14px!important;
}

@media screen and (max-width : 600px) {
  .btnBg span {
    background: url("./img/star.png") 5% 48% no-repeat, url("./img/star.png") 95% 48% no-repeat!important; 
    background-size: 12px 12px!important;
  }
  
  .btnBg:hover span {
    background: url("./img/star_hover.png") 5% 48% no-repeat, url("./img/star_hover.png") 95% 48% no-repeat!important; 
    background-size: 12px 12px!important;
  }
}



/***  Footer ***/

.footerBox {
  width: 100%;
  padding: 25px 0;
  background-color: #f1f1f1;
  font-size: 12px;
  color: #888;
}




/**나중에 삭제**/

.workShow {
  width: 100%;
  height: 500px;
  background: #4704A9;
  border-radius: 25px;
}

.workShowInside {
  width: 100%;
  height: 100%;
  background: url("./img/kovan1.png") 15% 50% no-repeat, url("./img/kovan2.png") 50% 50% no-repeat, url("./img/kovan3.png") 85% 50% no-repeat;
  background-size: 200px auto;
}

.splashWrapper {
  width: 100%;
  height: 100%;
  background-color: #02007B;
  z-index: 99;
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
}

.splashWrapper .icon {
  z-index: 999;
  position: fixed;
}

.splashWrapper .icon1 {
  top: 20%;
  left: 10%;
}

.splashWrapper .icon2 {
  top: 10%;
  right: 10%;
}

.splashWrapper .icon3 {
  bottom: 10%;
  right: 5%;
  height: 30px;
}

.splashWrapper .icon4 {
  bottom: 20%;
  left: 30%;
}

.splashWrapper .icon5 {
  bottom: 30%;
  left: 15%;
  width: 50px;
  transform: rotate(50deg);
}

.splashWrapper .icon6 {
  bottom: 40%;
  left: 35%;
  width: 15px;
}

.splashWrapper .icon7 {
  top: 10%;
  right: 35%;
  width: 20px;
  transform: rotate(90deg);
}

.splashWrapper .icon8 {
  top: 8%;
  right: 15%;
  width: 10px;
  transform: rotate(50deg);
}

.splashWrapper .icon9 {
  right: 15%;
  bottom: 18%;
  width: 24px;
  transform: rotate(-20deg);
}

.splashWrapper .icon10 {
  left: 15%;
  top: 5%;
  width: 15px;
  transform: rotate(30deg);
}

.splashWrapper .icon11 {
  left: 3%;
  bottom: 20%;
  width: 15px;
  transform: rotate(80deg);
}


.splashWrapper .me {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 999;
  animation: 1s linear 3s meMoving;
}

@keyframes meMoving {
  from  { top: 50%; }
  to { top: 110%; }
}


.splashWrapper .circle {
  background-color: rgba(250, 250, 250, .07);
  border-radius: 75%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splashWrapper .circle1 {
  width: 300px;
  height: 300px;
  animation: 1s linear 0s firstCircle;
}

.splashWrapper .circle2 {
  width: 500px;
  height: 500px;
  animation: 2s linear 0s secondCircle;
}

.splashWrapper .circle3 {
  width: 1000px;
  height: 1000px;
  animation: 3s linear 0s thirdCircle;
}

@keyframes firstCircle {
  from  { width: 100px; height: 100px; }
  to { width: 300px; height: 300px; }
}

@keyframes secondCircle {
  from  { width: 100px; height: 100px; }
  to { width: 500px; height: 500px; }
}

@keyframes thirdCircle {
  from  { width: 100px; height: 100px; }
  to { width: 1000px; height: 1000px; }
}



